:root {
  --primary-text-color: #212121;
  --second-text-color: #757575;
  --action-text-color: #2196f3;
  --color-white: #fff;
}

/*элементы хедера*/

header {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.webstudio-header {
  font-family: 'Raleway', sans-serif;
  color: var(--primary-text-color);
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.web {
  color: var(--action-text-color);
}

.list-style > .action {
  color: var(--action-text-color);
}

.main-navigation {
  color: var(--primary-text-color);
}

.contacts-header {
  color: var(--second-text-color);
}

/*ховеры и фокусы*/

.contacts-header:hover,
.contacts-footer:hover,
.main-navigation:hover,
.contacts-header:focus,
.contacts-footer:focus,
.main-navigation:focus {
  color: var(--action-text-color);
}

.button-nav:hover,
.button-nav:focus {
  background-color: var(--action-text-color);
  color: var(--color-white);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.hero-button:hover {
  background-color: var(--action-text-color);
  color: var(--color-white);
}

/*элементы основного контента*/

body {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: var(--primary-text-color);
  letter-spacing: 0.03em;
}

.list-style {
  list-style: none;
}

.decoration {
  text-decoration: none;
}

/*блок герой*/

.hero-section {
  background-color: #2f303a;
}

.hero-massage {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--color-white);
}

.hero-button {
  font-family: inherit;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  cursor: pointer;
  border-color: transparent;
  border-radius: 4px;
}

/*центральный контент*/

.our-pluses {
  line-height: 1.14;
  text-transform: uppercase;
}

.our-pluses-about {
  line-height: 1.71;
  color: var(--second-text-color);
}

.section-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}

.our-team-section {
  background-color: #f5f4fa;
}

.our-team-names {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
}

.our-team-job {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  color: var(--second-text-color);
}

.team-card1,
.team-card2,
.team-card3,
.team-card4 {
  width: 270px;
  height: 368px;
}

/*элементы футера*/

footer {
  background-color: #2f303a;
  line-height: 1.71;
}

.webstudio-footer {
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  font-size: 26px;
  color: var(--color-white);
  line-height: 1.19;
}

.fact-address {
  font-style: normal;
  color: var(--color-white);
  cursor: default;
}

.contacts-footer {
  font-style: normal;
  color: rgba(255, 255, 255, 0.6);
}

/*страница портфолио*/

.portfolio-main {
  padding: 94px 215px 94px 215px;
}

.button-nav {
  cursor: pointer;
  border-color: transparent;
  border-radius: 4px;
}

.button-nav {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
}

.work-name {
  color: var(--primary-text-color);
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.work-type {
  font-size: 16px;
  line-height: 1.8;
  color: var(--second-text-color);
}
